:root {
  --color-primary1: hsl(179, 62%, 43%);
  --color-primary2: hsl(71, 73%, 54%);
  --color-neutral1: hsl(204, 43%, 93%);
  --color-neutral2: hsl(218, 22%, 67%);
  --font-weight-normal: 400;
  --font-weight-bold: 700;

}

body {
  font-size: 32px;
  font-family: 'Karla', sans-serif;
  background-color: var(--color-neutral1);
}

.container {
  margin: 4rem 2rem 4rem 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: auto;
}

.item {
  padding: 1.5rem 1.5rem 2rem 1.5rem;
}

.item:first-of-type {
  border: none;
  border-radius: 0.25rem 0.25rem 0 0;
} 

.item:last-of-type {
  border: none;
  border-radius: 0 0 0.25rem 0.25rem;
}


.join-community-block {
  background-color: white;
}

.join-community-block .title {
  color: var(--color-primary1);
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
  margin-bottom: 1em;
}

.join-community-block .subtitle {
  color: var(--color-primary2);
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-size: 0.875rem;
  font-weight: var(--font-weight-bold);
}

.join-community-block .content {
  color: var(--color-neutral2);
  font-size: 0.8125rem;
  line-height: 1.625em;
}

.subscription-block {
  background-color: var(--color-primary1);
  color: white;
  font-size: 1rem;
}

.subscription-block .title {
  font-weight: var(--font-weight-bold);
  margin-bottom: 1.25rem;
}

.subscription-block .cost {
  display: grid;
  grid-template-columns: 70px auto;
  margin-bottom: 0.5rem;
}

.subscription-block .cost-value {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  justify-self: left;
}

.subscription-block .cost-description {
  justify-self: left;
  align-self: center;
  font-size: 1rem;
  /* color: var(--color-primary1); */
  opacity: 50%;
}

.subscription-block .content {

}

.subscription-block .button {
  background-color: var(--color-primary2);
  color: white;
  font-weight: var(--font-weight-bold);
  font-size: 0.9375rem;
  margin-top: 2rem;
  padding-top: 0.825rem;
  padding-bottom: 0.825rem;
  border-radius: 0.25rem;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.1);;
  border: none;
  display: block;
  width: 100%;
}

.why-us-block {
  font-size: 1rem;
  background-color: var(--color-primary1);
  opacity: 70%;
  color :white;
}

.why-us-block .title {
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
  margin-bottom: 1rem;
}

.why-us-block .content-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.25rem;
  font-size: 0.825rem;
  opacity: 90%;
}